.speaker {
  @media (min-width: @screen-sm-min) {
    text-align: center;
  }

  h3 {
    margin-top: 12px;
    padding-bottom: 9px;
  }

  h4 {
    font-weight: 400;
  }

  &.first-ref {
    @media (min-width: @screen-sm-min) {
      h3 {
        border-bottom: 1px solid @gray-lighter;
      }
    }
  }

  &.second-ref {
    h3 {
      font-size: 22px;
    }

    @media (min-width: @screen-sm-min) {
      img {
        .center-block();
        max-width: 80%;
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    margin-bottom: 15px;

    img {
      max-width: 75px;
      height: auto;
      .pull-left();
      margin-right: 14px;
    }

    h3 {
      margin-top: 0;
      padding-bottom: 0;
      margin-bottom: 5px;
    }

    h4 {
      margin-top: 5px;
    }
  }
}
